@page "/forsale"

<div class="d-flex h-100 justify-content-center align-items-center" style="min-height:500px;">
    <div class="d-flex flex-column">
        <h3 class="text-info align-self-center">Working on it</h3>
        <img src="images/building.png" />
        <p class="d-none">
            Modular homes. Architecturally designed, eco homes made for NZ's conditions. Visit Greenhaven Smart Homes' show home in Kapiti. Our modular homes are available in Wellington, Palmerston North, Kapiti and we are expanding into more areas in NZ
        </p>
    </div>
</div>

@inject IJSRuntime JSRuntime
@code{ 
    bool firstRender = true;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("blazorInterop.initializeScreenToBodyPage");
            await JSRuntime.InvokeVoidAsync("blazorInterop.initializeHideDropdow");
        }
    }
}
