@page "/gallery"
@inject IJSRuntime JSRuntime
<div class="d-flex flex-column container my-3">
    <div class="d-flex justify-content-center">
        <h3 style="cursor:pointer" onclick="gallery('all')">Photo gallery</h3>
    </div>
    <hr style="border-top: 1px solid red;" class="my-1" />
    <div class="row">
        <div class="col-md-6 col-sm-12 col-lg-2 text-center">
            <a class="text-info" onclick="gallery('gallery1')" style="min-width:100px;cursor:pointer">Transportation</a>
        </div>
        <div class="col-md-6 col-sm-12 col-lg-2 text-center">
            <a class="text-info" onclick="gallery('gallery2')" style="min-width:100px;cursor:pointer">On-site build</a>
        </div>
        <div class="col-md-6 col-sm-12 col-lg-2 text-center">
            <a class="text-info" onclick="gallery('gallery3')" style="min-width:100px;cursor:pointer">Waikanae Beach</a>
        </div>
        <div class="col-md-6 col-sm-12 col-lg-2 text-center">
            <a class="text-info" onclick="gallery('gallery4')" style="min-width:100px;cursor:pointer">Ngaio House</a>
        </div>
        <div class="col-md-6 col-sm-12 col-lg-2 text-center">
            <a class="text-info" onclick="gallery('gallery5')" style="min-width:100px;cursor:pointer">Whitby House</a>
        </div>
        <div class="col-md-6 col-sm-12 col-lg-2 text-center">
            <a class="text-info" onclick="gallery('gallery6')" style="min-width:100px;cursor:pointer">Waikanae Whare Iti</a>
        </div>

    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-12 col-lg-3 text-center gallery1 all d-none pb-3">
            <div class="card shadow minWidth260">
                <img class="card-img-top img-fluid" src="images/34a-Chelmsford-003a.jpg" style="cursor:pointer" alt="white rabbit">
                <div class="card-body">
                    <p class="card-text">
                        It helps you to build a beautiful and effective landing page to promote your product or side project!
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-lg-3 text-center gallery1 all d-none pb-3">
            <div class="card shadow minWidth260">
                <img class="card-img-top img-fluid" src="images/34a-Chelmsford-006.jpg" style="cursor:pointer" alt="white rabbit">
                <div class="card-body">
                    <p class="card-text">
                        It helps you to build a beautiful and effective landing page to promote your product or side project!
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-lg-3 text-center gallery1 all d-none pb-3">
            <div class="card shadow minWidth260">
                <img class="card-img-top img-fluid" src="images/34a-Chelmsford-007.jpg" style="cursor:pointer" alt="white rabbit">
                <div class="card-body">
                    <p class="card-text">
                        It helps you to build a beautiful and effective landing page to promote your product or side project!
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-lg-3 text-center gallery1 all d-none pb-3">
            <div class="card shadow minWidth260">
                <img class="card-img-top img-fluid" src="images/34a-Chelmsford-009a.jpg" style="cursor:pointer" alt="white rabbit">
                <div class="card-body">
                    <p class="card-text">
                        It helps you to build a beautiful and effective landing page to promote your product or side project!
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-lg-3 text-center gallery1 all d-none pb-3">
            <div class="card shadow minWidth260">
                <img class="card-img-top img-fluid" src="images/34a-Chelmsford-010.jpg" style="cursor:pointer" alt="white rabbit">
                <div class="card-body">
                    <p class="card-text">
                        It helps you to build a beautiful and effective landing page to promote your product or side project!
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-lg-3 text-center gallery2 all d-none pb-3">
            <div class="card shadow minWidth260">
                <img class="card-img-top img-fluid" src="images/34a-Chelmsford-011.jpg" style="cursor:pointer" alt="white rabbit">
                <div class="card-body">
                    <p class="card-text">
                        It helps you to build a beautiful and effective landing page to promote your product or side project!
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-lg-3 text-center gallery2 all d-none pb-3">
            <div class="card shadow minWidth260">
                <img class="card-img-top img-fluid" src="images/34a-Chelmsford-012.jpg" style="cursor:pointer" alt="white rabbit">
                <div class="card-body">
                    <p class="card-text">
                        It helps you to build a beautiful and effective landing page to promote your product or side project!
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-lg-3 text-center gallery2 all d-none pb-3">
            <div class="card shadow minWidth260">
                <img class="card-img-top img-fluid" src="images/34a-Chelmsford-014.jpg" style="cursor:pointer" alt="white rabbit">
                <div class="card-body">
                    <p class="card-text">
                        It helps you to build a beautiful and effective landing page to promote your product or side project!
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-12 col-lg-3 text-center gallery3 all d-none pb-3">
            <div class="card shadow minWidth260">
                <img class="card-img-top img-fluid" src="images/3-Pacific-002.jpg" style="cursor:pointer" alt="white rabbit">
                <div class="card-body">
                    <p class="card-text">
                        It helps you to build a beautiful and effective landing page to promote your product or side project!
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-lg-3 text-center gallery3 all d-none pb-3">
            <div class="card shadow minWidth260">
                <img class="card-img-top img-fluid" src="images/3-Pacific-003.jpg" style="cursor:pointer" alt="white rabbit">
                <div class="card-body">
                    <p class="card-text">
                        It helps you to build a beautiful and effective landing page to promote your product or side project!
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-lg-3 text-center gallery3 all d-none pb-3">
            <div class="card shadow minWidth260">
                <img class="card-img-top img-fluid" src="images/3-Pacific-005.jpg" style="cursor:pointer" alt="white rabbit">
                <div class="card-body">
                    <p class="card-text">
                        It helps you to build a beautiful and effective landing page to promote your product or side project!
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>
@code{ 
    bool firstRender = true;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("blazorInterop.initializeScreenToBodyPage");
            await JSRuntime.InvokeVoidAsync("blazorInterop.initializeGallery");
            await JSRuntime.InvokeVoidAsync("blazorInterop.initializeHideDropdow");
            //
        }
    }
}