@page "/"
<div class="d-flex container text-left flex-wrap">
    <div class="w-75">
        <h2 class="section-title">Modular, Energy Efficient, Transportable Homes</h2>
        <p class="text-muted">Our eco homes are built with premium quality, sustainable products and designed for maximum energy efficiency. They are modern, light and efficient, making the best use of available space to provide New Zealand families with warmer, drier, healthier homes with good natural light.</p>
        <p>Our homes come with a Halo 10-year residential guarantee insurance as standard, exclusive to members of the NZ Certified Builders Association.</p>
    </div>
    <div class="w-25">
        <img class="img-fluid" src="https://greenhavenhomes.co.nz/wp-content/uploads/2019/03/halo.png" />
    </div>
</div><!--//container-->
<div class="d-flex flex-column container">
    <h3>Take a virtual tour through our Show Home</h3>
    <div class="d-flex flex-wrap flex-sm-nowrap">
        <div class="p-0 pl-md flex-fill" style="min-width:300px;">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/orXdgsDZ-TI" allowfullscreen></iframe>
            </div>
        </div>
        <div class="p-0 flex-column flex-fill pl-sm-4 pl-0" style="min-width:300px">
            <h3>Architectural Design at the Core</h3>
            <p>With clever, architectural design at the core, your passive home costs less to run. Careful consideration has gone into the placement of windows and insulation to reduce the amount of energy required to heat your home.</p>
            <h3>Sustainable Living</h3>
            <p>We use FSC rated sustainably farmed timbers, LED lighting, low VOC paints and include the latest eco-friendly options wherever possible, better for the environment. Designed with cleaner, more breathable air, it’s also better for you and your family.</p>
        </div>
    </div>
</div>
<div class="d-flex flex-column">
    <div class="w-100 bg-info p-3 mt-4">
        <div class="d-flex justify-content-center">
            <h4 class="">See our extensive selection of modular homes</h4>
        </div>
    </div>
    <img class="img-fluid w-100" src="https://greenhavenhomes.co.nz/wp-content/uploads/2019/03/Banner.jpg" />
</div>
<!-- words -->
<div class="d-flex flex-wrap flex-sm-nowrap flex-row container mt-3">
    <div class="d-flex flex-column mr-sm-3 mr-0 w-50">
        <h2>Why Choose Us?</h2>
        <p>
            We are a New Zealand owned and operated family business. We take pride in the quality of our homes and our professional, friendly service and staff. Our tradespeople are handpicked, reliable and fully qualified. This guarantees the quality of your on-site build.
        </p>
        <p>
            Being local, we understand New Zealand’s environmental conditions and the Kiwi lifestyle. All our homes are built with materials to withstand the New Zealand coastal environment and very high winds, while meeting the latest earthquake standards.
        </p>
        <p>
            Personal service is important to us. You will know who to contact if you have any questions or concerns throughout the process. Site visits can be arranged to fit in around your lifestyle.
        </p>
    </div>
    <div class="d-flex flex-column ml-sm-3 ml-0 w-50">
        <h2>We are the only sustainable, transportable modular home service provider in New Zealand</h2>
        <p>
            Our homes are built at our factory then transported to sites throughout Wellington, Horowhenua, Kapiti, Manawatu and the Hawkes Bay. We take care of the process for you with our onsite build service. Outside of these areas? Please enquire.
        </p>
        <p>
            We pride ourselves on the premium quality of our modular homes. You simply will not find this quality of build at this price anywhere else.
        </p>
        <p>
            Please note, passive homes are different to off-the-grid homes. A passive home has careful architectural design at its core, maximising space and energy efficiency. If you are interested in living off-the-grid, please talk to us about available options. We can also customise an existing design if price is not a factor for you.
        </p>
    </div>
</div>
<!-- last image -->
<div class="d-flex flex-column">
    <img class="img-fluid w-100 mt-4" src="https://greenhavenhomes.co.nz/wp-content/uploads/2019/03/Banner-2.jpg" />
    <div class="w-100 bg-info p-3">
        <div class="d-flex justify-content-center">
            <h4>
                We encourage you to visit our show home at 2-4 Waikawa Beach Road, Manakau
                <br />
                We are located on State Highway 1 on the Kapiti Coast
            </h4>
        </div>
    </div>
</div>
@inject IJSRuntime JSRuntime
@code{ int currentCount = 0;
    bool firstRender = true;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("blazorInterop.initializeHideDropdow");
        }
    }
}