<!-- foot -->
<div class="bg-secondary">
    <div class="container pt-5">
        <div class="row">
            <div class="col-md-4 d-flex col-sm-12">
                <div class="d-flex align-items-center justify-content-center w-100">
                    <img src="images/geenhavenicon.png" />
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="d-flex flex-column align-self-center text-white">
                    <p class="font-weight-bolder">Contact us</p>
                    <p class="font-weight-bold">Phone:</p>
                    <p>0800 777 175</p>
                    <p class="font-weight-bold">Show home:</p>
                    <p>2-4 Waikawa Beach Road, Manakau</p>
                    <p  class="font-weight-bold">Head Office:</p>
                    <p>16 Sheffield Street, Levin 5510</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="d-flex flex-column align-self-center text-white">
                    <p class="font-weight-bolder" >Menu</p>
                    <NavLink  href="">
                        Home
                    </NavLink>
                    <NavLink  href="plan">
                        Our plans
                    </NavLink>
                    <NavLink  href="gallery">
                        gallery
                    </NavLink>
                    <NavLink  href="news">
                        news
                    </NavLink>
                    <NavLink  href="contactus">
                        contact us
                    </NavLink>
                </div>
            </div>
        </div>
    </div>
</div>

<hr style="border-top: 1px solid red;margin:0" />

<div class="d-flex bg-dark justify-content-center text-white pt-3">

    <p>© 2019 Greenhaven Homes. All Rights Reserved. Website design and maintenance by Media Giant</p>
    <i class="fab fa-facebook-f"></i>
</div>