<!-- foot -->
<div class="d-flex flex-row bg-dark justify-content-around p-5">
    <div class="d-flex flex-column align-self-center">
        <img src="https://greenhavenhomes.co.nz/wp-content/uploads/2019/03/Greenhaven-Homes-logo-reversed-300x127.png" />
    </div>
    <div class="d-flex flex-column align-self-center text-white">
        <h2>Contact us</h2>
        <h3>Phone:</h3>
        <p>0800 777 175</p>
        <h3>Show home:</h3>
        <p>2-4 Waikawa Beach Road, Manakau</p>
        <h3>Head Office:</h3>
        <p>16 Sheffield Street, Levin 5510</p>
    </div>
    <div class="d-flex flex-column align-self-center text-white">
        <h2>Menu</h2>
        <p>Home</p>
        <p>Our Plans</p>
        <p>Specifications</p>
        <p>FAQ</p>
        <p>Case Studies</p>
        <p>Gallery</p>
        <p>About</p>
        <p>News</p>
        <p>Contact Us</p>
    </div>
</div>
<hr style="border-top: 1px solid red;margin:0" />

<div class="d-flex bg-dark justify-content-center text-white pt-3">

    <p>© 2019 Greenhaven Homes. All Rights Reserved. Website design and maintenance by Media Giant</p>
    <i class="fab fa-facebook-f"></i>
</div>